body {
    background-color: #F3F3F3;
}

* {
    font-family: 'Roboto';
}

.topo {
    width: 100%;
    height: 80px;
    padding-right: 22px;
    padding-left: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
}

.topo img {
    width: 75px;
    height: 53px;
}

.topo ion-icon {
    font-size: 42px;
    cursor: pointer;
}

.mensagens {
    margin-top: 106px;
    margin-bottom: 86px;
    word-break: break-all;
}

.mensagem {
    display: flex;
    padding: 15px 9px 15px 8px;
    background-color: white;
    font-size: 14px;
    line-height: 20px;
    border-radius: 2px;
    margin-bottom: 4px;
}

.mensagem .hora {
    margin-right: 8px;
    color: #AAAAAA;
}

.mensagem.entra-sai {
    background-color: #DCDCDC;
}

.mensagem.reservada {
    background-color: #FFDEDE;
}

.inferior {
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 18px 0 18px;
    box-shadow: 0 -4px 6px 0 rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom: 0;
    left: 0;
    color: #505050;
    font-size: 14px;
}

.inferior input {
    font-size: 18px;
    border: none;
    font-family: 'Roboto';
    width: calc(100% - 40px);
    margin-bottom: 8px;
}

.inferior ::-webkit-input-placeholder {
    color: black;
    font-style: italic;
}

input:focus {
    outline: 0;
}

.inferior ion-icon {
    font-size: 26px;
    color: black;
    cursor: pointer;
}

.tela-contatos {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
}

.transparencia {
    width: calc(100% - 259px);
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}

.contatos {
    width: 259px;
    height: 100%;
    background-color: white;
    text-align: center;
    font-size: 16px;
    overflow-y: auto;
}

h1 {
    width: 100%;
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contato {
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    margin-bottom: 1px;
    position: relative;
}

.contato ion-icon {
    font-size: 20px;
    margin-right: 8px;
}

.contato img {
    position: absolute;
    right: 27px;
}

h1:last-child {
    height: 66px;
}

.tela-entrada {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.tela-entrada img {
    width: 130px;
    height: 92px;
    margin: 72px 0 94px 0;
}

.tela-entrada input {
    width: 261px;
    height: 54px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #D7D7D7;
    font-size: 18px;
    margin-bottom: 15px;
}

.tela-entrada ::-webkit-input-placeholder {
    color: #AEAEAE;
}

.tela-entrada button {
    width: 109px;
    height: 45px;
    border-radius: 9px;
    background-color: #E7E7E7;
    border: none;
    font-size: 18px;
    color: #696969;
    cursor: pointer;
}


.escondido {
    display: none;
}